#IDEs
.idea

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
server/node_modules
server/.bash_history
server/.config
server/.npm
app/node_modules
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs
