body {
  background-color: #ffffff;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-content {
  min-height: 1020px;
}

.ng-cloak, [ng-cloak] {
  display: none;
}

.nav {
  cursor: default;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.navbar-default {
  border-radius: 0px;
}

.jumbotron {
  background-color: #333333;
  color: #ffffff;
}

#footer {
  background-color: #333333;
  color: #ffffff;
}

.navbar-dark. .nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #333333;
}

.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:hover, .nav > li > a:hover {
  text-decoration: none;
  background-color: #333333;
  color: #00B7FF;
  opacity: 0.9;
}

span.error{
  color: red;
  font-size: 10px;
  font-style: italic;
}